@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, <b>Omo_Gbadamosi V</b> to Azure Cloud</h1>
    <p>You seems faster than your village people, you lost them on your way here!!!</p>
    <h3>You are Winner!!!</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
